[submodule "beein-human-transcription-checker"]
	path = beein-human-transcription-checker
	url = https://github.com/NewcastleRSE/beein-human-transcription-checker.git
[submodule "beeing-human-web"]
	path = beeing-human-web
	url = https://github.com/NewcastleRSE/beeing-human-web.git
[submodule "beeing-human-tei-data"]
	path = beeing-human-tei-data
	url = https://github.com/NewcastleRSE/beeing-human-tei-data.git
