body {
    width: 90%;
    margin: auto;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-3 {
    flex-basis: 30%;
}

/* transcription raw styling */
.hidden-form {
    display: unset;
    margin: 0;
    padding: 0;
}

.update.btn {
    margin: 0;
}

/* error list styling */
.parser-result {
    text-align: center;
    align-self: center;
}

.error-mark.active {
    background-color: red;
}

/* display text styling */

.drop-capital {
    position: relative;
    float: left;
    font-size: 3em;
    font-weight: bolder;
    padding-right: 0.2em;
    top: -0.1em;
    line-height: 1em;
}

.catch-word {
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
}

.sig {
    text-align: center;
}

.side-note {
    font-size: smaller;
}